// Layout globals

$colw: 60px;
$margin: 20px;
$column: $colw + $margin;

$fcolor: #555555;
$width: 9 * ($colw + $margin);
$leading: 21px;
$vsplit: $leading * 12;

// Mixins

@mixin centered {
	position: absolute;
	width: $width;
	left: 50%;
	margin-left: $width / -2;
}

@mixin font($size) {
	color: $fcolor;
	font-family: Helvetica Neue, Helvetica, Arial;
	font-size: $size;
	line-height: $leading;
//	text-align: justify;
}

// Layout

body {
	background-color: #f5f5f5;
	margin: 0px;
	padding: 0px;
}

#logo {
	@include centered;
	width: auto;
	margin-left: $width / -2;

	top: 5 * $leading;
}

#main-bg {
	position: absolute;
	width: 100%;
	height: 100%;

	opacity: 0.55;
//	background-color: #ffffff;

//	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
}

#main {
	@include centered;
	top: $vsplit;
}

#menu {
	position: absolute;
	right: 0px;
	top: -5 * $leading;

	margin-top: 5px;
	
	@include font(14px);
//	font-weight: bold;
//	text-align: right;
//	line-height: $leading * 1.5;
}

#menu span {
	float: left;
}

.submenu {
	font-size: 11px;
}

#menuline {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 2px;

	margin-top: -3px;
	background-color: $fcolor;
}

#menu a {
	outline: none;
	text-decoration: none;
}

.menuactive {
	color: #4d9dB4;
}

.menuinactive {
	color: $fcolor;
}

#title {
	position: relative;
	@include font(21px);

	margin-left: $colw;
	margin-top: $leading * 2 - 2px; // -2px baseline fix
	margin-bottom: 2 * $leading;
	line-height: $leading * 1.5;
	height: 3 * $leading;
}

.pitch {
	position: relative;
	margin-left: $colw;
	margin-bottom: 2 * $leading;
}

.pitch-icon {
	// margin-top: 4 * $leading;
	// margin-top: -1 * $leading;
	margin-left: -($colw * 2 + $margin) - $colw + $margin * 2;
	top: 50%;
	position: absolute;
}

.pitch-title {
	@include font(18px);

	// font-weight: bold;

	margin-left: 2 * $margin;
	padding-top: 9px;
	margin-bottom: 1 * $leading - 7px; // baseline fix + empty line
}

.pitch-separator {
	background-color: #999999;
	position: absolute;
	top: 10px;
	bottom: 4px;
	width: 2px;
	margin-left: -$margin;
}

.pitch-copy {
	@include font(13px);

	padding-top: 7px;
	margin-left: 2 * $margin;
	margin-bottom: -9px; // baseline fix
	text-align: justify;
}

