// Layout globals

$colw: 60px;
$margin: 20px;

$fcolor: #555555;
$width: 8 * ($colw + $margin);
$leading: 21px;
$vsplit: $leading * 12;

// Mixins

@mixin centered {
	position: absolute;
	width: $width;
	left: 50%;
	margin-left: $width / -2;
}

@mixin font($size) {
	color: $fcolor;
	font-family: Helvetica Neue, Helvetica, Arial;
	font-size: $size;
	line-height: $leading;
//	text-align: justify;
}

// Layout

body {
	margin: 0px;
	padding: 0px;
}

#logo {
	@include centered;
	margin-left: $width / -2 - $colw;

	top: 3 * $leading;
}

#main {
	@include centered;
	top: $vsplit;
}

#menu {
	@include centered;
	
	border-collapse: collapse;
	border-spacing: 0px;

	top: $vsplit;
	margin-top: $leading * -2 + 5px; // 5px baseline fix

	height: $leading;

	@include font(13px);
	font-weight: bold;
}

.menurow {
	width: 100%;
}

.menuleft {
	padding: 0px;
	text-align: left;
	width: 1px;
	white-space: nowrap;
}

.menurest {
	padding: 0px;
	text-align: right;
	width: 1000px;
}

.menuleft a, .menurest a {
	outline: none;
	text-decoration: none;
}

.menuactive {
	color: #4d9dB4;
}

.menuinactive {
	color: $fcolor;
}

#stretcher {
	width: 100%;
	display: inline-block;
}

#line {
	position: absolute;
	background-color: #dddddd;

	height: 1px;
	right: 0px;
	left: 50%;

	top: $vsplit;
	margin-left: $width / -2;
}

#title {
	@include font(21px);

	margin-top: $leading * 4 - 2px; // -2px baseline fix
//	margin-left: $margin;
	margin-bottom: 3 * $leading;
	line-height: $leading * 1.5;
}

.pitch {
	position: relative;
	margin-bottom: 2 * $leading;
}

.pitch-icon {
	margin-left: -($colw ) * 2 - $margin;
	margin-top: 2 * $leading;
	position: absolute;
}

.pitch-title {
	top: 0px;
	@include font(16px);

//	font-family: Georgia;
//	font-style: italic;
//	font-weight: bold;

	padding-top: 5px;
	margin-bottom: 1 * $leading - 5px; // baseline fix + empty line

//	margin-left: $margin;
}

.pitch-copy {
	top: 2 * $leading;
	@include font(13px);

	padding-top: 7px;
	margin-bottom: -7px; // baseline fix

//	margin-left: $margin;
}
