// Layout globals

$colw: 60px;
$margin: 20px;

$width: 7 * ($colw + $margin);
$leading: 21px;
$vsplit: $leading * 12;

// Mixins

@mixin centered {
	position: absolute;
	width: $width;
	left: 50%;
	margin-left: $width / -2;
}

@mixin font($size) {
	color: #555555;
	font-family: Helvetica Neue, Helvetica, Arial;
	font-size: $size;
	line-height: $leading;
	text-align: justify;
}

// Layout

body {
	margin: 0px;
	padding: 0px;
}

#logo {
	@include centered;
	margin-left: $width / -2 - $colw;

	top: 3 * $leading;
}

#main {
	@include centered;
	top: $vsplit;
}

#menu {
	@include centered;

	text-align: justify;

	top: $vsplit;
	margin-top: $leading * -2;
	height: $leading;
}

.menuitem {
	width: auto;
	display: inline-block;

	margin-top: 5px; // baseline fix
}

.menuitem a {
	outline: none;
	text-decoration: none;

	@include font(13px);
	font-weight: bold;
}

#stretcher {
	width: 100%;
	display: inline-block;
}

#line {
	position: absolute;
	background-color: #dddddd;

	height: 1px;
	right: 0px;
	left: 50%;

	top: $vsplit;
	margin-left: $width / -2;
}

#title {
	@include centered;
	@include font(21px);

	margin-top: 2px; // baseline fix

	top: $leading * 2;
}

#column1 {
	@include centered;

	width: 100px;
	top: 126px;
}

#column2 {
	@include centered;
	@include font(13px);

	margin-top: 5px; // baseline fix

	margin-left: -130px;
	width: 400px;
	top: 126px;
}

.icon {
	position: absolute;

	width: 100px;
	height: 100px;
}
